<div class="form-left-col">
    <label>Id:</label>
    <input id="wineId" name="id" type="text" value="<%= user_id %>" disabled />

    <label>Name:</label>
    <input type="text" id="name" name="name" value="<%= user_name %>" required/>

    <label>Grapes:</label>
    <input type="text" id="grapes" name="grapes" value="<%= user_custom %>"/>

    <label>Country:</label>
    <input type="text" id="country" name="country" value="<%= email %>"/>

    <label>Region:</label>
    <input type="text" id="region" name="region"  value="<%= register_date %>"/>

    <label>Year:</label>
    <input type="text" id="year" name="year"  value="<%= balance %>"/>

    <label>Year:</label>
    <input type="text" id="year" name="year"  value="<%= enabled %>"/>

    <button class="save">Save</button>
    <button class="delete">Delete</button>
</div>



<div id="details" class="demo-card-wide mdl-card mdl-shadow--2dp">
	  <div class="mdl-card__title">
	    <h2 class="mdl-card__title-text"><%= user_name %>
	      <small><%= user_custom %>sdfsd</small></h2>
	  </div>
	  <div class="mdl-card__supporting-text">
	    <i class="material-icons">email</i>&nbsp;&nbsp;<a class="mail-link" href="mailto:<%= email %>"><%= email %></a>
	    <br>
	    <i id="money" class="material-icons"></i>&nbsp;&nbsp;<span class="mail-link"><%= balance %></a>
	    <br>
	    <i class="material-icons">access_time</i>&nbsp;&nbsp;<span class="mail-link" id="date-time">
	    	<input type="datetime-local" value="<%= register_date %>">
	    </span>
	  </div>
	  <div class="mdl-card__actions mdl-card--border">
	    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
	      Close card
	    </a>
	  </div>
	  <div class="mdl-card__menu">
	    <a href="#operation/<%= user_id %>" id="edit" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
	      <i class="material-icons">view_list</i>
	    </a>
	  </div>
</div>