<div class="row">
  <div class="col s12 m3 center-on-small-only text-center">
    <div class="image-container">
      <img  class="circle responsive-img" src="http://lorempixel.com/400/400/people/1">
    </div>
    <a class="btn-flat" id="edit">
	      edit
    </a>

    <br><br>
    <h5>Balance</h5>
    <div class="input-field">
      <i id="money" class="material-icons prefix"></i>
      <input id="coins" disabled type="number" class="validate" value="<%= balance %>">
    </div>
    <a class="waves-effect waves-light btn modal-trigger" href="#addcoins">Add coins</a>
  </div>
  <div class="col s12 m9">
    <h4>
    	<%= user_name %>
    	<br>
    	<small class="blue-grey-text"><%= user_custom %></small>
    </h4>
    <a href="mailto:<%= email %>"><%= email %></a>
    <div id="editmode">

	    <div class="input-field">
          <i class="material-icons prefix"></i>
          <input id="user_name"  type="text" class="validate" value="<%= user_name %>">          
          <label class="active" for="user_name">Name</label>
        </div>    	
    
     	<div class="input-field">
          <i class="material-icons prefix"></i>
          <input id="user_custom"  type="text" class="validate" value="<%= user_custom %>">
          <label class="active" for="user_custom">Custom Name</label>
        </div>   

	    <div class="input-field">
          <i class="material-icons prefix">send</i>
          <input id="email"  type="email" class="validate" value="<%= email %>">
          <label class="active" for="email">Email</label>
        </div>


        <div class="input-field">
		    <div class="switch">
			    <label>
			      Disabled
			      <input id="enabled" type="checkbox" >
			      <span class="lever"></span>
			      Enabled
			    </label>
			</div>
			<br clear="all">
		</div>
		
<br clear="all">
   		<a class="waves-effect waves-light btn save">Save</a>
   		<a id="cancel" class="waves-effect waves-light btn teal lighten-2">Cancel</a>
    </div>

    
  </div>
</div>
